*.env
__pycache__/
config/*.cfg
config/*.toml
.idea
.vscode
test*
assets/Favicon/*
assets/cache/*
*.db
cache/*
bots/**/assets
core/unused_bots/**/assets
.version*
.pid_last
.cache_loader
assets/arc**
assets/version*
*.log
!test_commands.txt
.chroma