*.env
__pycache__/
config/*.cfg
config/*.toml
.idea
.DS_Store
.vscode
test*
*.db
cache/*
bots/**/assets
version*
.pid_last
.cache_loader
.console_history
*.log
matrix_store
output/*
assets/modules_list.json
assets/discord_slash_list.json
